<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/css/style.css" />
		<script src="/js/main.js"></script>
	</head>
	<body>
		<nav class="nav">
			<img src="/imgs/logo_1.png" alt="McSearch Logo" title="McSearch Logo"/>
			<li onclick="loadPage(this)" parameter="{{ encrypt('Stats') }}" data="{{ encrypt('Admin|stats') }}">Overview</li>
			<li onclick="loadPage(this)" parameter="{{ encrypt('Sites') }}" data="{{ encrypt('Admin|sites') }}">Sites</li>
		</nav>
		<div id="container"></div>
		<div id="Notifications"></div>
	</body>
</html>