<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/css/style.css" />
		<script src="/js/main.js"></script>
	</head>
	<body>
		{% if name == '' %}
			<div class="form login">
				<img src="/imgs/logo_1.png" alt="McSearch Logo" title="McSearch Logo"/>
				<h1>Log in</h1>
				<input type="text" name="USER" placeholder="Username" autofocus="true" />
				<input type="password" name="PASSWORD" placeholder="Passcode" />
				<button onclick="submitForm(this, 1)" data="{{ encrypt('User|login') }}">Log In</button>
			</div>
		{% else %}
			<nav class="nav">
				<img src="/imgs/logo_1.png" alt="McSearch Logo" title="McSearch Logo"/>
				<label class="username">{{ name }}</label>
				<li onclick="loadPage(this)" parameter="{{ encrypt('Stats') }}" data="{{ encrypt('Admin|stats') }}">Overview</li>
				<li onclick="loadPage(this)" parameter="{{ encrypt('Sites') }}" data="{{ encrypt('Admin|sites') }}">Sites</li>
				<li onclick="loadPage(this)" parameter="{{ encrypt('Sites') }}" data="{{ encrypt('User|list') }}">Users</li>
			</nav>
			<div id="container"></div>
		{% endif %}
		<div id="Notifications"></div>
	</body>
</html>