<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "/doctype.dtd">
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="styling.css" />
		<script src="/main_js.js"></script>
		<title>Log In</title>
	</head>
	<body>
		<div class="form medium top_spaced">
			<h1>Member Account</h1>
			<div class="two_split">
				<div class="two_split_left">
					<span>Already a member?</span>
					<p>Please sign in using either the email used to register the account, or your personal username.</p>
					<label>Email Address / Username</label>
					<input type="text" name="username">
					<span class="error" id="username_error"></span>
					<label>Passcode</label>
					<input type="password" name="passcode">
					<span class="error" id="password_error"></span>
					<button class="top_spaced">SIGN IN</button>
					<a href="#">Forgot Passcode</a>
				</div>
				<div class="two_split_right">
					<span>Want to become a member?</span>
					<p>
						If you are not already a member, you may request an account with us. Simply click the button below,
						and enter all required fields.
					</p>
					<button class="top_spaced">REQUEST ACCOUNT</button>
				</div>
			</div>
		</div>
	</body>
</html>